<ion-view view-title="Team Performance">
<ion-content>

  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>

	<ion-list>

		<!-- TODO: get this working with collection-repeat -->
		<ion-item ng-repeat="status in statusList">
			
			<div class="dashboardItem">

			  <span class="name">{{ status.user.fullName }}</span><br />

			  <span># Incidents</span><br />

			  <progress max="100" value="38" class="progressIncidents"></progress><br />

			  <span>Average Wait Time In Minutes</span><br />

			  <progress max="100" value="2" class="progressWaitTime"></progress><br />

			</div>

		</ion-item>

	</ion-list>

</ion-content>
</ion-view>